.AuthHead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 10px 20px 10px 0;
}

.AuthHead-username {
  font-size: 13px;

  color: #0087e9;
  text-decoration-line: underline;
}

.AuthHead-login {
  padding: 1px 7px;

  font-size: 13px;
}
