.Comment-title {
  margin: 0 0 10px;
}

.Comment-username {
  margin-right: 10px;

  font-size: 12px;
  font-weight: 700;
}

.Comment-username_gray {
  color: #666666;
}

.Comment-date {
  font-size: 12px;
  font-weight: 400;

  color: #666666;
}

.Comment-content {
  font-size: 14px;
  font-weight: 400;

  word-break: break-all;
}

.Comment-reply {
  margin: 10px 0 0;
  padding: 0;

  font-size: 12px;
  font-weight: 400;

  color: #0087e9;
  border: none;
  background: none;

  cursor: pointer;
}
